page-reg-employ {
    .full{
        padding: 25px;
        background-image: url("../assets/imgs/bck.jpg");
        background-repeat: no-repeat;
        background-size: 100% 60%;     
        }
        h1{
            text-align: center;
            color: white;
            margin-bottom: 10%;
            font-size: 4vh
        }
        .container{
            margin-top: 20%
        }
}
