page-conf {
    h1{
        text-align: center;
        margin-bottom: 10%;
        color: white;
        font-family: Arial, Helvetica, sans-serif
    
    }
    .container{
        margin-top: 20%;

        
    }
    .fulling{
    padding: 25px;
    background-image: url("../assets/imgs/bck.jpg");
    background-repeat: no-repeat;
    background-size: 100% 50%;     
    }
    } 

